<?xml version="1.0"?>
<configuration>
	<appSettings/>
	<connectionStrings/>
	<system.web>		
		<compilation debug="false"/>	
		<authentication mode="Windows"/>

    <!-- Register the ThumbViewer HttpHandler -->
    <httpHandlers>
      <add verb="GET" path="ThumbHandler.ashx" type="Bright.WebControls.ThumbHandler"/>
    </httpHandlers>
    
	</system.web>
</configuration>
